.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
node_modules
dist/js
dist/styles
dist/venter
dist/*.html
dist/*.js
dist/*.css
dist/pages
dist/img
.gulp-cache
.vscode/settings.json
