.input-container-location {
    position: absolute;
    top: 648px;
    left: 116px;
    height: 33px;
    width: 475px;
    background-color: rgba(55,114, 230, 0.2);
}

.arrow {
    position: absolute;
    top: 0;
}
