.test-form {
    width: 900px;
    height: 275px;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fdf9f8;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 25px;
}

.test-form-question {
    display: inline-block;
    width: 510px;
}

.test-form-arrow {
    display:inline-block;

    img {
        position: relative;
        top: 30px;
        left: -72px;
    }

    img.slide-in-right {
        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    img.bounce-in-right {
        animation: bounce-in-right 1.1s both;
        transform-origin: left center;
    }

    img.jello-horizontal {
        animation: jello-horizontal 1s;
    }
}

.test-form-arrow--pulse {
    background-color: #ffd458;
    animation: pulse-background 1s 5;;
    position: relative;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce-in-right {
    0% {
        transform: translateX(600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    35% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    39% {
        transform: scaleX(0.85);
    }

    52% {
        transform: translateX(50px) scaleX(1);
        animation-timing-function: ease-in;
    }

    69% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    73% {
        transform: scaleX(0.9);
    }

    78% {
        transform: translateX(22px) scaleX(1);
        animation-timing-function: ease-in;
    }

    87% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    89% {
        transform: scaleX(0.99);
    }

    92% {
        transform: translate(8px) scaleX(1);
        animation-timing-function: ease-in;
    }

    97% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.1, 0.75, 1);
    }

    40% {
        transform: scale3d(1, 1.25, 1);
    }

    50% {
        transform: scale3d(1.10, 0.85, 1);
    }

    65% {
        transform: scale3d(1, 1.05, 1);
    }

    75% {
        transform: scale3d(1.1, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}


@keyframes pulse-background {
    0% {
        background-color: #ffd458;
    }

    50% {
        background-color: #76bd22;
    }

    100% {
        background-color: #ffd458;
    }
}
